<div class="profile-block">
    <div>
        <p>Name: {{fName}}</p>
        <p>Surname: {{sName}}
        <p>
        <p>Age: {{age}}</p>
        <p>Job: {{job}}</p>
    </div>
    <img src={{imgUrl}} width="200" alt="" class="pr-img">
</div>